#title_input {
  border-style: solid;
  border-color: white;
  border-width: 0.1rem;
}
#description_input {
  border-style: solid;
  border-color: white;
  border-width: 0.1rem;
}
label {
  display: block;
  margin: 1rem;
}
textarea {
  resize: none;
}
