#page_section {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: rgb(137, 0, 0);
  border-width: 0.1rem;
}

#content_wrapper {
  border-style: solid;
  border-color: rgb(137, 0, 0);
  border-width: 0.1rem;
}
